<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <h2>Database Results getting Routes frequency >=1</h2>
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.name %> - <%= r.frequency %>
                From:(<%=r.START_Longitude %>, <%=r.START_Latitude %> )
                TO:(:(<%=r.END_Longitude %>,<%=r.END_Latitude %>) </li>
        <% }); %>
    </ul>
</div>
</body>
</html>